@import "colors";

.navbar {
  .navlogo {
    width: 100%;
    height: auto;
    max-width: 12rem;
    position: relative;
  }

  .dummy-btn {
    width: 2rem;
    padding: 0.5rem;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.toggle-button {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.5rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .bar {
    height: 2px;
    width: 100%;
    background-color: $primary;
    border-radius: 10px;
  }
}

.navbar {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $neutral-white;
  max-height: 4rem;
}

.navigation-header {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $neutral-white;
  padding: 0 1rem;
  z-index: 500;
}

.nav-items.active {
  display: flex;
}

.nav-items {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 0;
  width: 100%;
  top: 4rem;
  padding-top: 1rem;
  background-color: $neutral-white;
  z-index: 50;

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  a {
    text-decoration: none;
    transition: 0.4s ease-in-out;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    color: $neutral-black-2;
    text-decoration: none;
    width: 100%;
    padding: 0.5rem 0;
    text-align: center;
  }

  a:hover {
    color: $primary;
  }

  .book {
    width: 100%;
    background-color: $primary;
    color: $neutral-white;
    border: 1px solid $primary;
  }

  .book:hover {
    background-color: $neutral-white;
    color: $primary;
  }

  .current {
    color: $primary;
  }

  .current:hover {
    color: $neutral-black;
  }
}

@media (min-width: 768px) {
  .toggle-button {
    display: none;
  }

  .navigation-header {
    padding: 0 4rem;
  }

  .navbar {
    justify-content: space-between;
  }

  .nav-items {
    padding-top: 0;
    position: static;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    width: auto;

    li {
      width: auto;
    }

    a {
      padding: 0;
      text-align: start;
    }

    .book {
      padding: 0.75rem 1.25rem;
      border-radius: 0.5rem;
    }
  }
  .navlogo {
    max-width: 15rem;
  }
}
