@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
    li,
    a {
      margin-top: 2rem;
      font-weight: 400;
      font-size: 16.5px;
      color: black;
      text-decoration: none;
    }
  
    .book-now-btn {
      margin-top: 1.5rem;
      font-size: 16.5px;
      height: 2.5rem;
      width: 8rem;
      background-color: #EA5199;
      color: #FAFAFA;
      border: none;
      border-radius: 4px;
    }
  
    .book-now-btn:hover {
      cursor: pointer;
    }
  
    .book-now-btn:active {
      background-color: #EA5199;
    }

  
  .navbar {
    top: -2rem;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .navlogo {
    margin-top: 1rem;
    position: relative;
    z-index: 9;
  }
  
  .navright {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  
  .navlinks {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }

 .navlinks a {
   text-decoration: none;
  }
  
  .navlinks li {
    display: inline-block;
  }
  
  .navlinks > li > a:hover {
    color: #EA5199;
  }
  .container1{
  position: relative;
  text-align: center;
  color: white;
  }

  .bg {
    margin-top: 5rem;
    width: 100%;
    height: auto;
  }

  .desc {
    margin-top: 2rem;
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .book-now-btn {
    padding: 8px 16px;
    background-color: #EA5199;
    color: #FAFAFA;
    border-radius: 4px;
}
@media(max-width: 930px){

  .navbar{
    position: relative;
  }

  li,
  a {
    margin-top: 2rem;
    font-size: 12px;
    text-decoration: none;
  }
  .book-now-btn {
    font-size: 12px;
    color: white;
    height: 2rem;
    width: 7rem;
    background-color: rgb(234, 81, 153);
    border: none;
    border-radius: 8px;
  }

  .bg{
    display: none;
  }

  .book-now-btn:hover {
    cursor: pointer;
  }

  .book-now-btn:active {
    background-color: #EA5199;
  }
  .desc{
    margin-top: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .desc h1{
    color: black;
    font-size: 15px;
  }

  .book-now-btn {
    padding: 8px 16px;
    background-color: #EA5199;
    color: #FAFAFA;
    border-radius: 4px;
}







}


.aboutpage{
  padding: 5rem;
}
.col{
  justify-content: center;
  align-items: center;
}
.grp1{
  margin-left: 3rem;
}
.Reasons{
  font-size: 48px;
  margin-top: 4.8rem;
  font-weight: 500;
}

.grp2{
  margin-left: 9rem;
}
h1{
  font-size: 36px;
  font-weight: 600;
  margin-top: 2.8rem;
}
.Make, .num{
  font-size: 20px;
  font-weight: 100;
}
@media (max-width: 920px){
  .Reasons{
      font-size: 36px;
      font-weight: 500;
  }
  .btn1{
      font-size: 20px;
      color: white;
      height: 2rem;
      width: 7rem;
      margin-bottom: 3rem ;
      background-color: rgb(234, 81, 153);
      border: none;
      border-radius: 8px;
  }
  h1{
      font-size: 30px;
      font-weight: 600;
      margin-top: 1rem;
  }
  .Make, .num{
      font-size: 20px;
      font-weight: 100;
  }
  .grp1 , .grp2{
      margin: auto;
  } 
}

@media (max-width: 620px){
  .Reasons{
      font-size: 26px;
      font-weight: 500;
  }
  .btn1{
      font-size: 15px;
      color: white;
      height: 2rem;
      width: 7rem;
      margin-bottom: 3rem ;
      background-color: rgb(234, 81, 153);
      border: none;
      border-radius: 8px;
  }
  h1{
      font-size: 28px;
      font-weight: 600;
      margin-top: 1rem;
  }
  .Make, .num{
      font-size: 17px;
      font-weight: 100;
  } 
}










  footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: #1C1917;
    padding: 1.5rem 0;
    width: 100%;
  
    img {
      width: 100%;
      height: auto;
    }

    li,
    a,
    p {
      font-weight: 300;
      font-size: 0.75rem;
      line-height: 1rem;
      color: #FAFAFA;
      text-decoration: none;
    }
}
  
  .footer-center {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: #FAFAFA;
  }
  
  .footer-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
  
    .footer-links > li,
    li > a {
      color: #FAFAFA;
    }
  
    .footer-links {
      display: flex;
      flex-direction: column;
      list-style: none;
      gap: 0.5rem;
    }

    .footer-links a {
        text-decoration: none;
    }

    .footer-legal {
        color: #FAFAFA;
    }
  }
  
  .footer-right li:hover :not(.li-label) {
    color: #EA5199;
  }
  
  .li-label {
    font-weight: 600;
  }
  
  @media (min-width: 768px) {
    footer {
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      li,
      a,
      p {
        font-weight: 300;
        font-size: 0.74rem;
        line-height: 1rem;
        color: $neutral-white;
        text-decoration: none;
      }
    }
  
    .footer-right {
      gap: 5rem;
    }
  }

