@import "colors";

.pricing-card {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  padding: 2rem;
  border-radius: 0.75rem;
  flex: 1;
  gap: 1rem;
  background-color: $neutral-white;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));

  .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .service-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex: 1;

    h3 {
      font-size: 1rem;
      line-height: 1.5rem;
      text-align: center;
      flex: 1;
    }
  }

  .service-price {
    font-size: 2.5rem;
    line-height: 3rem;
    flex: 1;
  }

  .service-description {
    border-top: 3px solid $primary;
    padding: 1rem;
  }

  .book-button {
    font-size: 1rem;
    line-height: 1.5rem;
    text-decoration: none;
    color: $neutral-white;
    background-color: $primary;
    padding: 0.5rem 2rem;
    border: 2px solid $neutral-white;
    border-radius: 0.5rem;
  }

  .book-button:hover {
    color: $primary;
    background-color: $neutral-white;
    border: 2px solid $primary;
  }
}
