@import 'colors';
@import 'typography';

.pricing-cards {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
}

@media (min-width: 640px) {
    .pricing-cards {
        flex-direction: row;
    }
}