@import 'normalize';
@import 'typography';
@import 'footer';
@import 'header';
@import 'colors';
@import '_choose_service';

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}