@import 'normalize';
@import 'typography';
@import 'footer';
@import 'header';
@import 'colors';
@import 'pricing.component';

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $neutral-white-2;
}